{% extends "base.html" %}
{% load static %}
{% block content %}
<link type="text/css" rel="stylesheet" href="{% static 'styles.css' %}">
<div class="margin-8"></div>
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="films_block col-md-3 col-sm-3 col-xs-6">
                    <a href="show/"><img src="{% static '1w.jpg'%}"></a>
                    <div class="film_label"><a href="show/">1 вариант работы</a></div>
                </div>
                <div class="films_block col-md-3 col-sm-3 col-xs-6">
                    <a href="show/"><img src="{% static '1w.jpg'%}"></a>
                    <div class="film_label"><a href="show/">2 вариант работы</a></div>
                </div>
                <div class="films_block col-md-3 col-sm-3 col-xs-6">
                    <a href="show/"><img src="{% static '1w.jpg'%}"></a>
                    <div class="film_label"><a href="show/">3 вариант работы</a></div>
                </div>
                <div class="films_block col-md-3 col-sm-3 col-xs-6">
                    <a href="show/"><img src="{% static '1w.jpg'%}"></a>
                    <div class="film_label"><a href="show/">4 вариант работы</a></div>
                </div>
                <div class="films_block col-md-3 col-sm-3 col-xs-6">
                    <a href="show/"><img src="{% static '1w.jpg'%}"></a>
                    <div class="film_label"><a href="show/">5 вариант работы</a></div>
                </div>
                <div class="films_block col-md-3 col-sm-3 col-xs-6">
                    <a href="show/"><img src="{% static '1w.jpg'%}"></a>
                    <div class="film_label"><a href="show/">6 вариант работы</a></div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}